
div.drupal-admin-stuff {
  background: white;
  border-bottom: 2px solid @green-darkest;
  margin-top: -2px;

  position: relative;
  z-index: 1;

  .alert {
    margin-top: 22px;
  }
}

div.main-container {
  min-height: 300px;
  background: white;
}
